@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

:root {
  --font-family: 'Lato', sans-serif;
  --font-family-bold: 'Lato', sans-serif;

  --gradient-text: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%);
  --gradient-bar: linear-gradient(135deg, rgba(11,42,100,1) 0%, rgba(41,125,199,1) 66%, rgba(144,220,247,1) 100%);
  
  --color-bg: #F6FDFF;
  --color-title: #0B2A64;
  --color-subtitle: #D69A5E;
  --color-footer : #031B34;
  --color-blog: #042c54;
  --color-text: #81AFDD;
  --color-subtext: #FF8A71;
  --color-border2: #D69A5E;
  --color-box1: #90DCF7;
  --color-box2: #297DC7;
  --color-border: #1C5A80;

}
